<html>
	
	<head>
        
		<title>SEL0373 | {% block title %}{% endblock %}</title>
		
		<!--LINKS-->
		
		<!--Remote: Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<!--Remote: Google Icon Font-->
      	<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<!--Remote: Awesome Icon Font-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--Local: Favicon-->
        <link rel="stylesheet" type="text/css" href="/static/home.css"/>
        <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png"/>
		
		<!--META-->
		
      	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!--CSS-->
		
		<style>
		
			body {
				display: flex;
				min-height: 100vh;
				flex-direction: column;
			}

			main {
				flex: 1 0 auto;
			}
		
		</style>
		
	</head>

	<body>
		
		<header>
		
			<nav>
    			<div class="nav-wrapper container">
      				
					<a href="/" class="brand-logo">SEL0373</a>
      				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					
      				<ul class="right hide-on-med-and-down">
						<li {% if request.path == "/" %} class="active"{% endif %}><a href="/">Início</a></li>
        				<li {% if request.path == "/projeto/" %} class="active"{% endif %}><a href="/projeto">Projeto</a></li>
						<li><a href="https://github.com/andreMarcosPerez/SEL0373_digitalSystemsProjects" target="_blank">Github</a></li>
        				<li {% if request.path == "/sobreNos/" %} class="active"{% endif %}><a href="/sobreNos">Sobre nós</a></li>
        				<li {% if request.path == "/login/" %} class="active"{% endif %}><a href="/login">Login</a></li>
      				</ul>
      				
					<ul class="side-nav" id="mobile-demo">
						<li>
							<div class="row">
								<div class="col s12 m6">
									<div class="card red lighten-2">
										<div class="card-content white-text">
											<span class="card-title center"><b>SEL0373</b></span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li><div class="divider"></div></li>
						<li {% if request.path == "/" %} class="collection-item active" {% else %} class="collection-item"{% endif %}><a href="/">Início</a></li>
						<li><div class="divider"></div></li>
        				<li {% if request.path == "/projeto/" %} class="collection-item active" {% else %} class="collection-item"{% endif %}><a href="/projeto">Projeto</a></li>
						<li><div class="divider"></div></li>
						<li><a href="https://github.com/andreMarcosPerez/SEL0373_digitalSystemsProjects" target="_blank">Github</a></li>
						<li><div class="divider"></div></li>
        				<li {% if request.path == "/sobreNos/" %} class="collection-item active" {% else %} class="collection-item"{% endif %}><a href="/sobreNos">Sobre nós</a></li>
						<li><div class="divider"></div></li>
        				<li><a href="/login">Login</a></li>
						<li {% if request.path == "/login/" %} class="collection-item active" {% else %} class="collection-item"{% endif %}><div class="divider"></div></li>
      				</ul>
					
    			</div>
			</nav>
		
		</header>
		
		<main>
		
			<div class="container">
				
				<!--<h1>Projeto de Sistemas Digitais</h1>-->
		
				{% block content %}

				{% endblock %}
				
			</div>
		
		</main>
				
		<footer class="page-footer">
          
			<div class="container">
				<div class="row">
				
					<div class="col l6 s12">
						<h5 class="white-text">Saiba mais</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" target="_blank" href="http://www.saocarlos.usp.br/">Universidade de São Paulo, Campus São Carlos</a></li>
							<li><a class="grey-text text-lighten-3" target="_blank" href="http://www.eesc.usp.br/">Escola de Engenharia de São Carlos</a></li>
							<li><a class="grey-text text-lighten-3" target="_blank" href="http://www.sel.eesc.usp.br/">Departamento de Engenharia Elétrica e de Computação</a></li>
						</ul>
					</div>
				
					<div class="col l6 s12">
						<h5 class="white-text">Licença de uso</h5>
						<p class="grey-text text-lighten-3"><b>Todo</b> o trabalho apresentado neste site foi desenvolvido pelos autores na disciplina <b>SEL0373 Projeto de Sistemas Digitais</b> e esta licenciado com uma licença 
						<a class="grey-text text-lighten-3" target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
							<b>CC BY-NC-SA 4.0 Internacional.</b>
						</a>
						</p>	
					</div>

				</div>
			</div>
          
			<div class="footer-copyright">
				<div class="container">
					<a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/andremarcosperez/" target="_blank"> © 2017 | <b>André Perez</b></a> e <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/leonardoparente/" target="_blank"><b>Leonardo Parente</b></a>
				</div>	
			</div>
        
		</footer>

		<!-- JavaScript -->
				
      	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
				
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	
		<script>

			$(".button-collapse").sideNav({

				menuWidth: 250,
				closeOnClick: true,
				draggable: true
			});		
			
		</script>
		
	</body>
	
</html>
