<!DOCTYPE html>
<html>

	<head>
		<title>SEL373 | Live Camera</title>
		<link rel="stylesheet" type="text/css" href="/static/indexStyle.css"/>
		<link rel="icon" type="image/png" href="/static/images/favicon-32x32.png"/>
	</head>

	<body>
		<h1>Camera Livestream!</h1>
		<div>
		<img src="/static/images/downArrow.png" alt="left"/>
		<img src="/static/images/rightArrow.png" alt="right"/>
		<img src="/static/images/downArrow.png" alt="down"/>
		<img src="/static/images/upArrow.png" alt="up"/>
		</div>
		<img src="{{ url_for('videoStreaming') }}"/>
	</body>

</html>
