{% extends 'base.html' %}
	
	{% block title %}
	
		Login
	
	{% endblock %}
	
	{% block content %}
			
		<div class="container">
			<div class="row">
				<form action="/login/" method="post" class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card red lighten-2 white-text">
						<div class="card-content">
							<h5 class="card-title center"><b>Login</b></h5>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix" style="color: white">account_circle</i>
									<input name="userName" id="userName" type="text" class="validate white-text" style="border-bottom: 1px solid #eeeeee; box-shadow: 0 1px 0 0 #eeeeee;">
									<label class="white-text" for="userName">Usuário</label>
								</div>
								<div class="input-field col s12">
									<i class="material-icons prefix" style="color: white">lock_outline</i>
									<input name="userPassword" id="userPassword" type="password" class="validate white-text" style="border-bottom: 1px solid #eeeeee; box-shadow: 0 1px 0 0 #eeeeee;">
									<label class="white-text" for="userPassword">Senha</label>
								</div>
								<div class="col s12">
								{% if error %}
									<h6 class="center">{{ error }}</h6>
								{% endif %}
								</div>
								<div class="col s12 center">
									<button class="waves-effect waves-light btn red lighten-3">Entrar</button>
								</div>
								<div class="col s12 center">
									<h6 class="center">ou</h6>
								</div>
								<div class="col s12 center">
									<a href="/cadastro" class="waves-effect waves-light btn red lighten-3">Cadastrar</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	{% endblock %}