{% extends 'base.html' %}
				
	{% block title %}
	
		Sobre nós
	
	{% endblock %}
				
	{% block content %}
	
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<div class="card-panel z-depth-0">
						<div class ="row">
							<div class="col l12 s12">
								<div class="card-panel center z-depth-0">
									<img class="circle responsive-img hoverable" src="/static/images/andrePerez_200.jpg">
								</div>
							</div>
							<div class="col l12 s12">
								<div class="card white-text z-depth-0">
									<div class="card-content red lighten-2">
										<span class="card-title center"><b>André Perez</b></span>
										<p>Aluno de Engenharia Elétrica com Ênfase em Eletrônica ingressado em 2012.</p>
									</div>
									<div class="card-action">
										<div class="row">
											<div class="col l6 s6 center">
												<a class="waves-effect waves-light btn-large red lighten-2" href="https://www.linkedin.com/in/andremarcosperez/" target="_blank"><img class="responsive-img" src="/static/images/linkedin.png"/></a>
											</div>
											<div class="col l6 s6 center">
												<a class="waves-effect waves-light btn-large red lighten-2" href="mailto:andre.marcos.perez@usp.br" target="_blank"><i class="material-icons center">email</i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col l6 s12">
					<div class="card-panel z-depth-0">
						<div class ="row">
							<div class="col l12 s12">
								<div class="card-panel center z-depth-0">
									<img class="circle responsive-img hoverable" src="/static/images/leonardoNunes_200.jpg">
								</div>
							</div>
							<div class="col l12 s12">
								<div class="card white-text z-depth-0">
									<div class="card-content red lighten-2">
										<span class="card-title center"><b>Leonardo Nunes</b></span>
										<p>Aluno de Engenharia Elétrica com Ênfase em Eletrônica ingressado em 2012.</p>
									</div>
									<div class="card-action">
										<div class="row">
											<div class="col l6 s6 center">
												<a class="waves-effect waves-light btn-large red lighten-2" href="https://www.linkedin.com/in/leonardoparente/" target="_blank"><img class="responsive-img" src="/static/images/linkedin.png"/></a>
											</div>
											<div class="col l6 s6 center">
												<a class="waves-effect waves-light btn-large red lighten-2" href="mailto:leonardonunes50@hotmail.com" target="_blank"><i class="material-icons center">email</i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
	{% endblock %}