{% extends 'base.html' %}
				
	{% block title %}
	
		Sobre nós
	
	{% endblock %}
				
	{% block content %}
					
	    <div class="row">
			<div class="col l6 s12">
				<div class="card">
					<div class="card-image">
						<img class="circle" src="/static/images/downArrow.png">
						<span class="card-title">Card Title 1</span>
					</div>
					<div class="card-content">
						<p>Text 1</p>
					</div>
					<div class="card-action">
						<a href="#">This is a link 1</a>
					</div>
				</div>
			</div>
			
			<div class="col l6 s12">
				<div class="card">
					<div class="card-image">
						<img class="circle" src="/static/images/upArrow.png">
						<span class="card-title">Card Title 2</span>
					</div>
					<div class="card-content">
						<p>Text 2</p>
					</div>
					<div class="card-action">
						<a href="#">This is a link 2</a>
					</div>
				</div>
			</div>
			
		</div>

	{% endblock %}
				
