{% extends 'base.html' %}
				
	{% block title %}
	
		Sobre nós
	
	{% endblock %}
				
	{% block content %}
	
	<div class="container">	
		<div class="row">
			<div class="col l6 s12">
				<div class="card-panel z-depth-0">
					<div class ="row">
						<div class="col s12">
							<div class="card-panel center z-depth-0">
								<img class="circle responsive-img hoverable" src="/static/images/andrePerez_200.jpg">
							</div>
						</div>
						<div class="col s12">
							<div class="card white-text z-depth-0">
								<div class="card-content red lighten-2">
									<span class="card-title center"><b>André Perez</b></span>
									<p>
									Aluno de graduação em <b>engenharia elétrica</b>, ênfase em eletrônica, na <b>Universidade de São Paulo</b> (USP).
									Estudou <b>engenharia de software</b> como intercâmbista na <b>Universidade de Glasgow</b> (UoG), Reino Unido.
									Trabalhou na <b>EMBRAPA</b> como estagiário em P&D na área de <b>agricultura de precisão</b>
									e atualmente atua como <b>monitor</b> da disciplina SEL0373 <b>Aplicação de Microprocessadores I</b>.
									</p>
								</div>
								<div class="card-action">
									<div class="row">
										<div class="col s4">
											<a class="waves-effect waves-light btn-large red lighten-2" href="https://www.linkedin.com/in/andremarcosperez/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
										</div>
										<div class="col s4">
											<a class="waves-effect waves-light btn-large red lighten-2" href="https://github.com/andreMarcosPerez" target="_blank"><i class="fa fa-github"></i></a>
										</div>
										<div class="col s4">
											<a class="waves-effect waves-light btn-large red lighten-2" href="mailto:andre.marcos.perez@usp.br"><i class="material-icons center">email</i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col l6 s12">
				<div class="card-panel z-depth-0">
					<div class ="row"> 
						<div class="col s12">
							<div class="card-panel center z-depth-0">
								<img class="circle responsive-img hoverable" src="/static/images/leonardoNunes_200.jpg">
							</div>
						</div>
						<div class="col s12">
							<div class="card white-text z-depth-0">
								<div class="card-content red lighten-2">
									<span class="card-title center"><b>Leonardo Nunes</b></span>
									<p>
									Aluno de graduação em <b>engenharia elétrica</b>, ênfase em eletrônica, na <b>Universidade de São Paulo</b> (USP).
									Estudou <b>engenharia eletrônica</b> como intercâmbista na <b>Universidade de Glasgow</b> (UoG), Reino Unido.
									Trabalhou no instituto de inovação <b>CESAR</b> como estagiário em P&D na área de </b>pecuária de precisão</b>
									e atualmente atua como estagiário em P&D na <b>WTA</b> com implementação de comunicação <b>wireless</b>.
									</p>
								</div>
								<div class="card-action">
									<div class="row">
										<div class="col s4">
											<a class="waves-effect waves-light btn-large red lighten-2" href="https://www.linkedin.com/in/leonardoparente/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
										</div>
										<div class="col s4">
											<a class="waves-effect waves-light btn-large red lighten-2" href="https://github.com/leonparente" target="_blank"><i class="fa fa-github"></i></a>
										</div>
										<div class="col s4">
											<a class="waves-effect waves-light btn-large red lighten-2" href="mailto:leonardonunes50@hotmail.com"><i class="material-icons center">email</i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				
	{% endblock %}